{% extends "base.html" %}
{% block content %}

<br>
<h1 align="center">Delete combined log</h1>
<br>
<form method="POST" class="text-center">
  <h3 align="center">Are you sure?</h3>
  <a class="btn text-dark">{{ combine.date }}</a>
  <a class="btn text-dark font-weight-bold">{{ combine.title }}</a>
  <a class="btn text-primary" href="{{ combine.log1 }}" target="_blank" rel="noopener noreferrer">{{ combine.log1 }}</a>
  <a class="btn text-primary" href="{{ combine.log2 }}" target="_blank" rel="noopener noreferrer">{{ combine.log2 }}</a>
  <br><br>
  <a href="javascript:window.history.back();" class="btn btn-secondary">Back</a>
  <button type="submit" class="btn btn-danger ml-5">Delete</button>
</form>

{% endblock %}